h2 {
  color: #3f7fbf;
}

.row {
  margin-left: 20px;
  color: #fff;
}

.row_posters {
  display: flex;
  padding: 20px;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
  cursor: pointer;
}

.row_poster:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.row_poster:hover {
  transform: scale(1.08);
}

.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
}
